.featuredProducts {
  width: 100%;
  padding: 40px 50px;
  .top {
    display: flex;
    align-items: center;

    // justify-content: space-between
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    h1 {
      // flex: 2;
      text-align: center;
      width: 200px;
      margin: 0 auto;
      text-transform: capitalize;
    }
    p {
      margin: 0 auto;

      width: calc(100% - 300px);
      min-width: 300px;
      // flex: 3;
      color: grey;
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    justify-content: space-around;
    gap: 20px;
  }
}
