.contact {
  width: 100%;
  background-color: #2879fe;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 10px 0px;

    span {
      text-transform: uppercase;
      margin: 0 auto;
    }

    .email {
      input {
        padding: 10px;
        border: none;
        border-radius: 5px 0 0 5px;
        margin-bottom: 10px;
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 0 5px 5px 0;
        background-color: #333;
        color: #fff;
        text-transform: capitalize;
      }
    }

    .email,
    .icons {
      margin: 0 auto;
    }

    .icons {
      display: flex;
      gap: 10px;
    }
  }
}
